<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h1>Pages Counts</h1>

            <table class="table table-hover">
            	<thead>
            		<tr>
            			<th>Page</th>
            			<th>View Counts</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td><%= link_to 'Home', root_path %></td>
            			<td><%= Count.find_by(page: "Home").num %></td>
            		</tr>
            		<tr>
            			<td><%= link_to 'About', about_path %></td>
            			<td><%= Count.find_by(page: "About").num %></td>
            		</tr>
            		<tr>
            			<td><%= link_to 'Services', service_path %></td>
            			<td><%= Count.find_by(page: "service").num %></td>
            		</tr>
            	</tbody>
            	
            </table>
            
            <a href="/destroy" type="button" class="btn btn-danger" onclick="return confirm('Are you sure?');">Destroy</a>
        </div>
    </div>
</div>

<div id="destroyModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Are you sure?</h4>
			</div>
			<!-- <div class="modal-body">
				
			</div> -->
			<div class="modal-footer">
				<a href="/destroy" type="button" class="btn btn-warning">Yes Destroy!</a>
				<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
			</div>
		</div>
	</div>
	
</div>