    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <h1>Pages Counts</h1>

            <table class="table table-hover">
            	<thead>
            		<tr>
            			<th>Page</th>
            			<th>View Counts</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr>
            			<td><%= link_to 'Home', root_path %></td>
            			<td><%= @c.num %></td>
            		</tr>
            		<tr>
            			<td><%= link_to 'About', about_path %></td>
            			<td><%= @a.num %></td>
            		</tr>
            		<tr>
            			<td><%= link_to('Services', service_path) %></td>
            			<td><%= @s.num %></td>
            		</tr>
            	</tbody>
            	
            </table>
            
            <%= link_to "Destroy", destroy_path, type: "button", class: "btn btn-danger", onclick: "return confirm('Are you sure?');" %>
        </div>
    </div>