<%= render 'layouts/messages' %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h2><%= @post.title %></h2>

		<p><%= @post.author %></p>

		<p><%= simple_format(@post.content) %></p>

		<%= link_to 'Edit', edit_post_path, class:"btn btn-primary" %>
		<%= link_to 'Back', posts_path, class:"btn btn-warning" %>
	</div>
</div>