<!DOCTYPE html>
<html>
  <head>
    <title>AlphacampBlogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div> <%= flash.class %> </div>

    <div>
      <% flash.each do |key, value| %>
        <%= key %>:
        <%= value %>
      <% end %>
    </div>

    <div> <%= flash %> </div>


  
 	<%= render 'layouts/nav' %>
    <%= yield :home %>
    <div class="container blog">
	    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
